// COLOURS

// Toolbar

$toolbar-fg-color: white;
$toolbar-bg-color: #2c3e50;

$toolbar-button-fg-color:       white;
$toolbar-button-bg-color:       $toolbar-bg-color;
$toolbar-button-hover-fg-color: $toolbar-button-bg-color;
$toolbar-button-hover-bg-color: $toolbar-button-fg-color;

// Sidebar

$sidebar-fg-color:     black;
$sidebar-bg-color:     white;
$sidebar-border-color: #333;

// Tabs

$tabbar-fg-color:        $toolbar-fg-color;
$tabbar-bg-color:        $toolbar-bg-color;

$tabbar-button-fg-color: $toolbar-fg-color;
$tabbar-button-bg-color: $toolbar-bg-color;

$tabbar-button-hover-fg-color: $toolbar-button-bg-color;
$tabbar-button-hover-bg-color: $toolbar-button-fg-color;

$tabbar-button-active-fg-color: $toolbar-button-bg-color;
$tabbar-button-active-bg-color: $toolbar-button-fg-color;

// Dialog Buttons

$dialog-button-fg-color:       $toolbar-fg-color;
$dialog-button-bg-color:       $toolbar-bg-color;
$dialog-button-hover-fg-color: $dialog-button-bg-color;
$dialog-button-hover-bg-color: $dialog-button-fg-color;

// SIZING

// at what width should the layout switch between mobile and desktop views
$responsive-threshold: 50rem;

// Toolbar

$toolbar-width:  5rem; // when in column mode
$toolbar-height: 5rem; // when in row mode

// Sidebar

// sidebar should be hidden initially
$sidebar-display: none;

$sidebar-width:  20rem; // when in column mode
$sidebar-height: 20rem; // when in row mode

// Dialogs

$dialog-backdrop-color: rgba(0, 0, 0, 0.8);

$dialog-bg-color: white;
