// COLOURS

// Toolbar

$toolbar-fg-color: white;
$toolbar-bg-color: #2c3e50;

$toolbar-button-fg-color:       #ccc;
$toolbar-button-bg-color:       $toolbar-bg-color;
$toolbar-button-hover-fg-color: $toolbar-button-bg-color;
$toolbar-button-hover-bg-color: $toolbar-button-fg-color;

// Sidebar

$sidebar-fg-color:     black;
$sidebar-bg-color:     white;
$sidebar-border-color: #333;


// SIZING

// at what width should the layout switch between mobile and desktop views
$responsive-threshold: 50rem;

// Toolbar

$toolbar-width:  6rem; // when in column mode
$toolbar-height: 6rem; // when in row mode

// Sidebar

// sidebar should be hidden initially
$sidebar-display: none;

$sidebar-width:  20rem; // when in column mode
$sidebar-height: 20rem; // when in row mode
