#sidebar {
    display: $sidebar-display;

    color:            $sidebar-fg-color;
    background-color: $sidebar-bg-color;

    font-size: 1.4rem;

    width:     $sidebar-width;
    max-width: $sidebar-max-width;
    height:    100%;

    border-right:  1px solid $sidebar-border-color;
    border-bottom: none;
}

#sidebar.active {
    display: block;
}

#sidebar > section {
    display: none;
}

#sidebar > section.active {
    display: block;
}

@media(max-width: $responsive-threshold) {
    #sidebar {
        width:      100%;
        max-width:  100%;

        height:     $sidebar-height;
        min-height: $sidebar-min-height;
        max-height: $sidebar-max-height;

        border-right:  none;
        border-bottom: 1px solid $sidebar-border-color;
    }

}
