#sidebar {
    display: $sidebar-display;

    color:            $sidebar-fg-color;
    background-color: $sidebar-bg-color;

    font-size: 1.4rem;

    width:  $sidebar-width;
    height: 100%;

    border-right:  1px solid $sidebar-border-color;
    border-bottom: none;
}

#sidebar.active {
    display: block;
}

#sidebar > section {
    display: none;
}

#sidebar > section.active {
    display: block;
}
