#sidebar {
    display: $sidebar-display;

    color:            $sidebar-fg-color;
    background-color: $sidebar-bg-color;

    font-size: 1.4rem;

    width:     $sidebar-width;
    max-width: $sidebar-max-width;
    height:    100%;

    border-right:  1px solid $sidebar-border-color;
    border-bottom: none;
}

#sidebar.active {
    display:flex;
    flex-direction: column;
}

#sidebar > section {
    display: none;
}

#sidebar > section.active {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media(max-width: $responsive-threshold) {
    #sidebar {
        width:      100%;
        max-width:  100%;

        height:     $sidebar-height;
        min-height: $sidebar-min-height;
        max-height: $sidebar-max-height;

        border-right:  none;
        border-bottom: 1px solid $sidebar-border-color;
    }

}

#sidebar .search {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 2em;
    border: none;
    border-bottom: 1px solid #333;
    padding: 0 2em;
    box-sizing: border-box;
    font-size: 1.2em;
}

.listview-search {
    position: relative;
}

.listview-search i.fa-search {
    position: absolute;
    top: 0;
    left: 0.3em;
    line-height: 2em;
    margin-top: -0.125em;
    color: #999;
    font-size: 1.2em;
}

.listview-items {
    overflow-y: auto;
    flex: 1;
}

.listview-items:empty:after {
    content: 'No Items';
    color: #ccc;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
    display: block;
}

.listview-items li {
    padding: 0.5em;
    cursor: pointer;
}

.listview-items li.active,
.listview-items li.active:hover {
    color: $sidebar-item-active-fg-color;
    background-color: $sidebar-item-active-bg-color;
}

.listview-items li:hover {
    color: $sidebar-item-hover-fg-color;
    background-color: $sidebar-item-hover-bg-color;
}
