@import 'parameters';
@import 'reset';

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-family: 'Helvetica', sans-serif;

    min-height: 50rem;
}

@import 'toolbar';
@import 'sidebar';
@import 'dialog';
@import 'tabs';

#content {
    flex: 1;
    font-size: 1.4rem;
}

@media (max-width: $responsive-threshold) {
    body {
        flex-direction: column;
        bottom: auto;
    }

    #sidebar {
        width:  100%;
        height: $sidebar-height;

        border-right:  none;
        border-bottom: 1px solid $sidebar-border-color;
    }

    #content {
        min-height: 50rem;
    }
}
