<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Notes</title>

    <link rel="stylesheet" href="style/notes.<VERSION>.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<nav id="toolbar">
    <button id="toolbar_projects" title="Projects"><i class="fa fa-archive fa-fw"></i></button>
    <button id="toolbar_notes"    title="Notes"   ><i class="fa fa-book fa-fw"   ></i></button>
    <button id="toolbar_preview"  title="Preview" ><i class="fa fa-magic fa-fw"  ></i></button>
    <button id="toolbar_settings" title="Settings"><i class="fa fa-sliders fa-fw"></i></button>
</nav>

<div id="sidebar">
    <section data-pane="projects">Projects</section>
    <section data-pane="notes">Notes</section>
</div>

<section id="content">
Content
</section>

<dialog id="dialog_settings">
    <div id="tabs_settings">
        <nav class="tabbar">
            <button data-tab="editor">Editor</button>
            <button data-tab="theme">Theme</button>
            <button data-tab="data">Data</button>
            <button data-tab="debug">Debug</button>
        </nav>
        <div class="tabpanes">
            <section data-tab="editor">
                Editor Settings
            </section>
            <section data-tab="theme">
                Theme Settings
            </section>
            <section data-tab="data">
                Data Settings
            </section>
            <section data-tab="debug">
                Debug Settings
            </section>
        </div>
        <div class="buttons">
            <button class="close">Okay</button>
        </div>
    </div>
</dialog>

<script src="scripts/notes.<VERSION>.js"></script>
</body>
</html>
