<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Notes</title>

    <link rel="stylesheet" href="style/notes.<VERSION>.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<nav id="toolbar">
    <button id="toolbar_projects" title="Projects"><i class="fa fa-archive fa-fw"></i></button>
    <button id="toolbar_notes"    title="Notes"   ><i class="fa fa-book fa-fw"   ></i></button>
    <button id="toolbar_preview"  title="Preview" ><i class="fa fa-magic fa-fw"  ></i></button>
    <button id="toolbar_settings" title="Settings"><i class="fa fa-sliders fa-fw"></i></button>
</nav>

<section id="sidebar">
Sidebar
</section>

<section id="content">
Content
</section>

<script src="scripts/notes.<VERSION>.js"></script>
</body>
</html>
