<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Notes</title>

    <link rel="stylesheet" href="style/notes.<VERSION>.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<nav id="toolbar">
    <button id="toolbar_projects" title="Projects"><i class="fa fa-archive fa-fw"></i></button>
    <button id="toolbar_notes"    title="Notes"   ><i class="fa fa-book fa-fw"   ></i></button>
    <button id="toolbar_preview"  title="Preview" ><i class="fa fa-magic fa-fw"  ></i></button>
    <button id="toolbar_settings" title="Settings"><i class="fa fa-sliders fa-fw"></i></button>
</nav>

<section id="sidebar">
Sidebar
</section>

<section id="content">
Content
</section>

<dialog id="dialog_settings">
    <div>
        <nav class="tabbar">
            <button>Editor</button>
            <button>Theme</button>
            <button>Data</button>
            <button>Debug</button>
        </nav>
        <section id="settings_tab_editor">
            Editor Settings
        </section>
        <section id="settings_tab_theme">
            Theme Settings
        </section>
        <section id="settings_tab_data">
            Data Settings
        </section>
        <section id="settings_tab_debug">
            Debug Settings
        </section>
        <div class="buttons">
            <button class="close">Okay</button>
        </div>
    </div>
</dialog>

<script src="scripts/notes.<VERSION>.js"></script>
</body>
</html>
